*,
*::before,
*::after {
    box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: xx-large;
    letter-spacing: .6rem;
    font-weight: 450;
}

.header-text {
    display: flex;
    justify-content: center;
}

.light-mode {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: larger;
    cursor: pointer;
}

.main {
    background-color: #F8F8F8;
    width: 100%;
    transition: background-color 0.3s;
}

.main-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
    padding-top: 50px;
    gap: 20px;
}

.sub-content {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px; 
    padding: 20px;
    padding-top: 50px;
}

.work-experience, .education {
    max-width: 500px;
    width: 100%;
}

.picture {
    flex: 1;
    max-width: 25%;
}

.profile {
    flex: 2;
    max-width: 50%;
}

.education {
    flex: 1;
    max-width: 25%;
}

.heading-content {
    margin-top: 0;
    font-size: xx-large;
    font-weight: 450;
}

#heading-work {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: 450;
}

.heading-education {
    margin-bottom: 0;
    font-size: large;
    font-weight: 450;
}

.text-education {
    margin: 0;
}

.workexp-list {
    display: flex;
    max-width: 250px;
    margin: 0;
    padding: 20px;
}

.workexp-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.work-years {
    flex: 0 0 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.work-details {
    flex: 1;
    border-left: 2px solid #333;
    padding-left: 20px;
}

.work-details .place {
    margin-top: 0;
    margin-bottom: 5px;
}

.bottom-section {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.fa-brands {
    font-size: xx-large;
    padding-left: 10px;
}

/*Dark mode färgläggning */
body.dark-mode {
    background-color: #0d1117;
    color: #ffffff;
}

body.dark-mode .main {
    background-color: #010409;
}

body.dark-mode .work-details {
    border-left-color: #ffffff;
}



/*Olika regler för att få sidan fungera bättre vid mindre skärmar */
@media (max-width: 770px) {
    .main-content, .sub-content {
        flex-direction: column;
        align-items: center;
    }

    .picture, .profile, .education, .work-experience {
        width: 100%;
        max-width: 100%;
    }

    .picture img {
        max-width: 100%;
        height: auto;
    }

    .heading-content {
        font-size: x-large;
    }

    #heading-work {
        font-size: x-large;
    }

    .workexp-content {
        flex-direction: column;
        gap: 20px;
    }
    
    .workexp-list {
        max-width: 100%;
        margin: 10px 0;
        padding: 10px;
    }
}

img {
    border-radius: 6px;
    max-width: 100%;
    height: auto;
}