*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-section {
    background-color: #F8F8F8;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: xx-large;
    letter-spacing: .6rem;
    font-weight: 450;
}

.sub-text {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}